.acerca-de{
    margin: 3rem 0 2rem;
    h2{
    text-align: center;
    }
}
.certi-alimentos{
    max-width: 353px;
    border: 10px solid #3F2212;
}
@media screen and (max-width: 512px) {
    .acerca-de{
        margin-top: 5rem;
    }
}