footer{
    background-color: $rosa-fondo;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    padding: 3rem 2rem;
    justify-content: space-around;
    align-items: center;
    a{
        display: block;
        padding: 0.5rem 0;
        margin: 0.125rem 0;

    }
    p{
        display: block;
        padding-top: 0.5rem;
        margin-bottom: 0.250rem;
    }
    b{
        display: block;
        margin-top: 0.625rem;
        margin-bottom: 0.5rem;
    }
    .footer__social{
        margin-top: 1.5rem;
    }
    .footer__social__icon{
        display: inline;
        text-decoration: none;
        margin-right: 15px;
    }
    .direccion{

    }
    @media screen and (max-width: 500px){
        flex-flow: column wrap;
        text-align: center;
    
        div{
            margin-bottom: 1rem;
        }
    }
}