.background-circulos{
    background-image: url("/Imagenes/Circulos_BG.png");
    background-size: cover;
}

@media screen and (min-width: 1200px) {
    .no-margin{
        margin-top: -4rem;
    }
}
#dulzuras{
    max-width: 416px;
}
.color-bg{
    background-color: #FDF6F7;
    display: block;
    padding: 6% 0;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 100%;
}

.clientes-satisfechos{
    margin-bottom: 6rem;
}

.flex__wrap-opiniones{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    gap: 2rem 2vw;
    justify-content: center;
    margin: 3% 5% 2% 5%;
    padding: 0 5vw 0 5vw;
    div {
        display: inline-block;
        width: 20rem;
        padding: 20px;
        margin: 10px;
        border-radius: 0.625rem;
        box-shadow: 0px 0.25rem 1.875rem rgba(63, 34, 18, 0.1);
    }
    span {
        font-weight: bold;
        display: inline-block;
        margin-top: 1rem;
    }
}
