.background-circulos{
    background-image: url("/Imagenes/Circulos_BG.png");
    background-size: cover;
}

.dulzuras-img{
    max-width: 416px;
    background-image: url(/Imagenes/Variedad-dulzuras-BG.png);
    background-size: cover;
}
.desayunos-img{
    max-width: 416px;
    background-image: url(/Imagenes/Desayunos-BG.png);
    background-size: cover;
}
.color-bg{
    background-color: #FDF6F7;
    display: block;
    padding: 6% 0;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
}

.clientes-satisfechos{
    margin-bottom: 6rem;
    text-align: center;
}

.flex__wrap-opiniones{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem 2vw;
    max-width: 1150px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    div{
        padding: 20px;
        border-radius: 0.625rem;
        box-shadow: 0px 0.25rem 1.875rem rgba(63, 34, 18, 0.1);
        text-align: left;
        span {
            font-weight: bold;
            display: inline-block;
            margin-top: 1rem;
        }
    }

}

@media screen and (min-width: 1200px) {
    .no-margin{
        margin-top: -4rem;
    }
}
@media screen and (max-width: 512px) {
    header{
        margin-top: 5rem;
    }
}