.productos__header {
    margin-top: 3rem;
    text-align: center;
    padding: 0 5vw;
    h2{
        padding-bottom: 1rem;
    }
    @media screen and (max-width: 512px) {
        margin-top: 5rem;
        .subtitle{
        font-size: 0.9rem; 
        }
    }
        
}
.productos__body{
    margin: 3rem 2vw 0 2vw;
    text-align: center;
    @media screen and (max-width: 512px) {
        margin-top: 1rem;
    }
    .productos__body__grid{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 2rem 2vw;
        text-align: center ;
        margin-top: 3rem;
        margin-bottom: 5rem;
        @media screen and (max-width: 512px) {
            grid-template-columns: repeat(auto-fit, minmax(9.3rem, 1fr));
            gap: 0.75rem 2vw;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .productos__body__grid__producto{
            box-shadow: 0px 0.25rem 1.4rem rgba(63, 34, 18, 0.08);
            border-radius: 1.25rem;
            padding-bottom: 1rem;
            transition: box-shadow, 0.5s;
            overflow: hidden;
            @media screen and (max-width: 512px) {
                border-radius: 0.5rem;
            }
            p{
                padding: 0.75rem 1rem 0 1rem;
            }
            img {
                width: 100%;
                height: auto;
                transition: transform 0.5s;
            }
        }
        div:hover{
        box-shadow: 0px 0.5rem 3rem rgba(63, 34, 18, 0.3);
            img {
            transform: scale(1.05);
            }
        }
        span{
            font-weight: bold;
        }
    }
}
