.productos{
    margin: 3rem 2vw 0 2vw;
    text-align: center;
    h2{
        padding-bottom: 1rem;
    }
    .productos__header {
        padding: 0 10vw 0 10vw;
    }
    .productos__grid{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        gap: 2rem 2vw;
        text-align: center ;
        margin-top: 3rem;
        margin-bottom: 5rem;
        div{
            box-shadow: 0px 0.25rem 1.4rem rgba(63, 34, 18, 0.08);
            border-radius: 1.25rem;
            padding-bottom: 1rem;
            transition: box-shadow, 0.5s;
            overflow: hidden;
            p{
                padding: 0.75rem 1rem 0 1rem;
            }
            img {
                width: 100%;
                height: auto;
                transition: transform 0.5s;
            }
        }
        div:hover{
        box-shadow: 0px 0.5rem 3rem rgba(63, 34, 18, 0.3);
            img {
            transform: scale(1.05);
            }
        }
        span{
            font-weight: bold;
        }
    }
}
@media screen and (max-width: 512px) {
    .productos{
        margin-top: 5rem;
        .productos__header {
            padding: 0 1vw 0 1vw;
            .subtitle{
            font-size: 0.9rem; 
            }
        }
        .grid-productos {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 3rem 2vw;
        }
    }
}