h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair', serif;
    font-weight: 900;
    color: #3F2212;
}

h1 {
    font-size: 3.5rem;
}

h1 span {
    display: block;
    font-size:2.75rem;
    font-style: italic;
    font-weight: normal;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}
.subtitle {
    font-size: 1.25rem;
    line-height: 1.4;
}

a {color: #3F2212;}

@media screen and (max-width: 700px){
    h1 {
        font-size: 2.5rem;
    }
    h1 span {
        font-size:2rem;
    }
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
    .subtitle {
        font-size: 1.1rem;
        line-height: 1.2;
    }
}