h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair', serif;
    font-weight: 900;
    color: #3F2212;
}

h1 {
    font-size: 4rem;
}

h1 span {
    display: block;
    font-size:3rem;
    font-style: italic;
    font-weight: normal;
}

h2 {font-size: 3rem;}

h3 {font-size: 2.25rem;}

h4 {font-size: 1.5rem;}

p {font-size: 1rem;}
.subtitle {
    font-size: 1.25rem;
    line-height: 1.4;
}

a {color: #3F2212;}
