@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Raleway:ital,wght@0,500;0,700;0,900;1,500&display=swap');

html {scroll-behavior: smooth;}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'raleway', sans-serif;
    color: #3F2212;
    width: 100vw;
    overflow-x: hidden;
}

/* TIPOGRAFIA */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair', serif;
    font-weight: 900;
    color: #3F2212;
}

h1 {
    font-size: 4rem;
}

h1 span {
    display: block;
    font-size:3rem;
    font-style: italic;
    font-weight: normal;
}

h2 {font-size: 3rem;}

h3 {font-size: 2.25rem;}

h4 {font-size: 1.5rem;}
.main-title{
    text-align: center;
}
p {
    font-size: 1rem;
}
p span {
    font-weight: bold;
    display: block;
    text-align: left;
    padding-top: 0.75rem;
}
.subtitle {
    font-size: 1.25rem;
    line-height: 1.4;
}

a {color: #3F2212;}


/* MENU */
nav {
    text-align: center;
    text-transform: uppercase;
    font-family: 'raleway', sans-serif;
    margin-top: 1rem;
    position: relative;
    right: 2.7rem;
}

nav a {
    text-decoration: none;
    color: #3F2212;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    list-style: none;
    position: relative;
    align-items: center;
}
nav ul li{
    display: inline;
    padding: 0 4vw 0 4vw;
}
.logo-menu, .logo-menu div {
    width: 189px;
    height: 189px;
    padding: 0;
}
.logo-menu div {
    background: url('../Imagenes/Logo-Default.svg');
}
.logo-default div:hover {
    background: url('../Imagenes/Logo-Home-Hover.svg');
}



/* ACERCA DE */
.acerca-de{
    margin: 3rem 0 2rem;
}
.flex-row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 3rem 8%;
}
.flex-row-reverse{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    margin: 3rem 8%;
}
.flex-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    
}
.left-text{
    margin-right: 4rem;
}
.right-text{
    margin-left: 4rem;
}

.flex-column img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.background-circulos{
    background-image: url("/Imagenes/Circulos_BG.png");
    background-size: cover;
}

#dulzuras{
    max-width: 416px;
}
#foto-patri{
    max-width: 450px;
    min-width: 330px;
}
#certi-alimentos{
    max-width: 353px;
    border: 10px solid #3F2212;
}

@media screen and (max-width:800px){
    .flex-row{
        flex-flow: column;
    } 
    .left-text{
        margin-right: 0rem;
    }
    .right-text{
        margin-left: 0rem;
    }
    .flex-column__img{
        margin: 2rem 0;
    }
}
